<%= render 'shared/page_title', title: "Showing List Of All Chefs" %>

<div align="center"><%= will_paginate @chefs, list_classes: %w(pagination justify-content-end) %></div>

<%= render 'chef', obj: @chefs %>

<div align="center"><%= will_paginate @chefs, list_classes: %w(pagination justify-content-end) %></div>
