<%= render 'shared/page_title', title: "Chef #{@chef.chefsname}'s Profile" %>

<div class="row">
	<div class="col-md-4 offset-md-4 center">
		<%= gravatar_for @chef, size: 150 %>
	</div>
</div>


<hr/>

<h4 align="center"><%= @chef.chefsname %>'s recipes </h4>
<%= render 'recipes/recipe', obj: @chef.recipes %>
