//$navbar-default-bg: #073B15; #f5f6f7
@import "bootstrap/dist/css/bootstrap";

.jumbotron {
	background-image: url('../images/palms.png');
	background-size: cover;
	height: 300px;
}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.jumbotron h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.color_danger {
	background-color: #FFCCFF;
}

.color_look {
	color: #339966;
}

.color_background {
	background-color: #339966;
}

.color_look a {
	color: #006666;
}

.center {
	text-align: center;
}

.description {
	margin-top: 0;
}

.btn-xlarge {
	background-color: #006666;
}

.btn-xlarge:hover {
		color: #fff;
		text-decoration: none;
}

.well {
	background-color: #f5f6f7;
}

.well a {
	color: #7DCEA0;
}

.chef_info {
	margin-top: 0px;
}

#logo {
	float: left;	
	font-size: 1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold; 
}

#logo:hover {
	color: #073B15;
	text-decoration: underline;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #222;
}

footer small {
	float: left;
}

footer ul {
	float: right;	
}
