//$navbar-default-bg: #073B15;
@import "bootstrap/dist/css/bootstrap";

//.jumbotron {
	//background-image: asset-url('palms.png');
//	background-size: cover;
//	height: 300px;
//}

.jumbotron h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.jumbotron h2 {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
	letter-spacing: -1px;
	font-weight: bold;
}

.center {
	text-align: center;
}

#logo {
	float: left;	
	font-size: 1.7em;
	color: #aaa;
	text-transform: uppercase;
	letter-spacing: -1px;
	font-weight: bold; 
}

#logo:hover {
	color: #fff;
	text-decoration: underline;
}

.btn-xlarge {
	background-color: #073B15;
}

.btn-xlarge:hover {
		color: #fff;
		text-decoration: none;
}

footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid #eaeaea;
	color: #777
}

