<footer class="footer">
	<nav>
		<ul>
	  	<p>
			<small>
				<strong>
					<a href="http://192.168.137.1:3000">My Recipes! </a>
				</strong>
	  		<%= link_to "About", '#' %> &copy; 2019 Company, Inc.
			</small>
	  	</p>
		</ul>
	</nav>
</footer>